$navbar-height: 50px;

.NavBar {
    width: 100%;
    min-height: $navbar-height;

    display: flex;
    align-items: center;

    background-color: #f6f7f6;
    border: 1px solid #e7e7e7;

    & > * {
        margin: 0;
    }

    &-header {
        width: 160px;
        height: $navbar-height;
        padding: 15px 15px;

        font-size: 18px;
        line-height: 20px;
        background-color: #ffe939;
    }

    &-content {
        width: calc(100% - 160px);
        height: $navbar-height;
        display: flex;
        align-items: center;
    }

    &-item {
        min-width: 60px;
        padding: 0 24px;
        color: #111;
        font-size: 20px;
        line-height: $navbar-height;
        vertical-align: middle;

        &:hover {
            background-color: #e3e3e3;
        }
    }
}
