.SearchForm {
    width: 100%;
    padding: 20px 5%;
    background-color: #f6f7f6;
    display: flex;
    justify-content: space-around;

    &-input {
        outline: none;
        border: none;
        background: transparent;
        font-size: 32px;
    }

    &-button {
        border: none;
        outline: none;
        cursor: pointer;
        background: #6ea9f8;
        font-size: 32px;
        border-radius: 16px;
        color: #fff;
    }
}
