$navbar-height: 50px;
$navbar-header-width: 150px;

.NavBar {
    width: 100%;
    min-height: $navbar-height;

    display: flex;
    align-items: center;

    background-color: #f6f7f6;
    border: 1px solid #e7e7e7;

    & > * {
        margin: 0;
    }

    &-header {
        min-width: $navbar-header-width;
        width: $navbar-header-width;
        height: $navbar-height;
        padding: 15px;

        font-size: 16px;
        line-height: 24px;
        background-color: #ffe939;
    }

    &-content {
        width: calc(100% - #{$navbar-header-width});
        height: $navbar-height;
        display: flex;
        align-items: center;
    }

    &-item {
        display: block;
        min-width: 60px;
        padding: 0 12px;
        color: #111;
        font-size: 20px;
        line-height: $navbar-height;

        &:hover {
            background-color: #e3e3e3;
        }

        &-active {
            background-color: #e3e3e3;
        }
    }
}
